<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Login</h2>

<form action="/login" method="POST">
  <label>Email: </label>
  <input type="text" placeholder="Email" name="email"><br><br>
  <label>Password: </label>
  <input type="password" placeholder="" name="password"><br><br>
  <button>Submit</button>
</form>
<% if (error) { %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>

<a href="/profile/create">Create profile</a>
</div>

</body>
</html>
